<div class="latest-post-card zero-out">
            <div class="post-card-byline-tag zero-out">
                    {{#get "tags" limit="1"}}
                    {{tags}}
                    {{/get}}
            </div>

            <header class="post-card-header zero-out">
                <a href="{{url}}">
                    <h2 class="post-card-title">{{title}}</h2>
                </a>
            </header>

            <div class="post-card-byline-content zero-out">
                <span>
                    {{authors}}
                </span>               
            </div>
</div>
        