<div class="latest-post-card">
            <div class="post-card-byline-tag lpc">
                    {{#get "tags" limit="1"}}
                    {{tags}}
                    {{/get}}
            </div>

            <header class="post-card-header lpc">
                <a href="{{url}}">
                    <h2 class="post-card-title">{{title}}</h2>
                </a>
            </header>

            <div class="post-card-byline-content lpc">
                <span>
                    {{authors}}
                </span>               
            </div>
</div>
        