{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<main id="site-main">
    <div class="hp-lead-posts">

        <section class="lead-post-left">
        {{#get "posts" limit="1" filter="featured:true" include="authors,tags"}}
        {{#foreach posts}}
        {{> "post-card"}}
        {{/foreach}}
        {{/get}}
        </section>

        <section class="lead-posts-right">

            {{#get "posts" limit="1" filter="featured:true" include="authors,tags"}}
            {{#foreach posts}}
            {{> "other-post-card"}}
            {{/foreach}}
            {{/get}}

            <div class="latest-posts-content">
                <h2 class="section-title">Latest</h2>
                <div class="post-feed latest-posts zero-out">
                    {{#get "posts" limit="6" filter="featured:false"  include="tags,authors"}}
                    {{#foreach posts}}
                    {{> "latest-post-card"}}
                    {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </section>

    </div>

    <div class="hp-general-section">
        <h3 class="section-title">Podcasts</h3>
        <div class="post-feed-static post-feed">
            {{#get "posts" limit="3" filter="tag:opinion"}}
            {{#foreach posts}}
            {{> "pic-post-card"}}
            {{/foreach}}
            {{/get}}
        </div>
    </div>

    <div class="other-posts">
        {{#get "posts" limit="all" include="tags,authors"}}
        {{#foreach posts}}
        {{> "other-post-card"}}
        {{/foreach}}
        {{/get}}
    </div>

</main>


{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {

        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.post-feed');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = feed.getBoundingClientRect().top + window.scrollY;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 20) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();

    });
</script>
{{/contentFor}}