{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="hp-lead-posts">
        <div class="post-featured">
            {{#get "posts" limit="1" filter="featured:true"}}
            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
            {{/get}}
        </div>

        <div class="latest-posts-section">
            <h2 class="section-title">Latest</h2>
        <div class="post-feed latest-posts zero-out">
            {{#get "posts" limit="6" filter="featured:false"  include="tags,authors"}}
            {{#foreach posts}}
            {{> "latest-post-card"}}
            {{/foreach}}
            {{/get}}
        </div>
        </div>
    </div>

    <div class="hp-oncampus-posts">
        <h3 class="section-title">On-Campus</h3>
        <div class="nowrap post-feed">
            {{#get "posts" limit="3" filter="featured:false"}}
            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
            {{/get}}
        </div>
    </div>

    {{!-- <div class="hp-multimedia-posts">
        <div class="nowrap post-feed">
            <h3>Podcasts</h3>
            {{#get "posts" limit="3" filter="tag:audio"}}
            {{#foreach posts}}
            {{> "pic-post-card"}}
            {{/foreach}}
            {{/get}}
        </div>
    </div> --}}

    <div class="other-posts">
        {{#get "posts" limit="all"}}
        {{#foreach posts}}
        {{> "other-post-card"}}
        {{/foreach}}
        {{/get}}
    </div>

</main>


{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {

        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.post-feed');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = feed.getBoundingClientRect().top + window.scrollY;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 20) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();

    });
</script>
{{/contentFor}}