{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<main id="site-main">
    <div class="glossary-box">

        <div class="word-box">
        {{#get "posts" limit="6" filter="featured:false"  include="tags,authors"}}
        {{#foreach posts}}
        <h5 class="word">{{title}}</h5>

        <p class="definition">
            {{content}}
        </p>

        {{/foreach}}
        {{/get}}
        </div>
    </div>

    <div class="test-box">
        {{#get "posts" limit="all" filter="tag:glossary"}}
        {{#foreach posts}}
            <div class="word">
                {{title}}
            </div>
            <div class="definition">
                {{content}}
            </div>
        {{/foreach}}
        {{/get}}
        </div>

</main>