{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<main id="site-main">
    <div class="glossary-box">
        {{#get "posts" filter="tag:glossary" include="content"}}
        {{#foreach}}
            <div class="word">
                {{title}}
            </div>
            <div class="definition">
                {{content}}
            </div>
        {{/foreach}}
        {{/get}}
    </div>

</main>

