{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<main id="site-main" class="site-main outer"></default>

    {{#tag}}
    <header class="site-archive-header">
        <div class="inner site-header-content">
            <h1>{{name}}</h1>
            <h2 class="site-description">
                {{#if description}}
                {{description}}
                {{/if}}
            </h2>
        </div>
        {{!-- <div class="featured-tag-post">
            {{#get "posts" limit="1" filter="featured:true+tag:{{name}}"}}
            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
            {{/get}}
        </div> --}}
    </header>
    {{/tag}}

    <div class="post-feed xxx-format">
        {{#foreach posts}}
        {{> "other-post-card"}}
        {{/foreach}}
    </div>

</main>