
.page-template .site-main, .post-template .site-main {
    margin-top: 64px;
    padding: 0;
    background: #fff;
}

.post-full-title {
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.post-full-custom-excerpt {
    margin: 0;
    color: #738a94;
    font-style: italic;
}
    
.read-more-wrapper {
    display: flex;
    flex-direction: row;
    columns: 1fr 2fr;
}
    
header.site-header-base {
    margin: 0 auto;
    background-color: black;
    max-width: 1040px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 25px;
}
    
    
.site-nav-left {
    padding: 10px 0;
    overflow-x: hidden;
}
    
.site-nav-logo img {
    display: block;
    width: auto;
    height: 35px;
}


.post-card-byline-content {
    flex: 0;
    margin: 0;
}

.post-card-byline-tag {
    text-transform: none;
}

.hp-lead-posts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
}

.latest-post-card, .tag-post-card {
    flex-basis: 25%;
    min-width: 120px;
}

.lpc {
    margin: 0;
    padding: 0;
}

.post-feed {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}



