
.page-template .site-main, .post-template .site-main {
    margin-top: 64px;
    padding: 0;
    background: #fff;
}

.post-full-title {
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.post-full-custom-excerpt {
    margin: 0;
    color: #738a94;
    font-style: italic;
}

.read-more-wrapper {
    display: flex;
    flex-direction: row;
    columns: 1fr 2fr;
}






header.site-header-base {
    margin: 0 auto;
    background-color: black;
    max-width: 1040px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 25px;
}