.p {
    margin: 0;
}

.page-template .site-main, .post-template .site-main {
    margin-top: 64px;
    padding: 0;
    background: #fff;
}

.post-full-title {
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.post-full-custom-excerpt {
    margin: 0;
    color: #738a94;
    font-style: italic;
}
    
.read-more-wrapper {
    display: flex;
    flex-direction: row;
    columns: 1fr 2fr;
}
    
header.site-header-base {
    margin: 0 auto;
    background-color: rebeccapurple;
    max-width: 1040px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 25px;
}
    
    
.site-nav-left {
    padding: 10px 0;
    overflow-x: hidden;
}
    
.site-nav-logo img {
    display: block;
    width: auto;
    height: 35px;
}

.post-card {
    border: none;
}

.post-card-byline-content {
    flex: 0;
    margin: 0;
}

.post-card-title {
    margin-bottom: .2em;
    font-size: 2.2rem;
    color: black;
}

.post-card-byline-tag{
    text-transform: none;
    font-size: .7em;
    width: 30%;
    line-height: 1.5;
}

.post-card-byline-date {
    font-size: 1rem;
    text-transform: none;
}

.hp-lead-posts {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 10px;
    margin: .5em 1.2em;
    padding-bottom: .7em;
}

.hp-general-section {
    margin: 0 2.5em;
}

.latest-post-card {
    flex-basis: 42%;
    min-width: 120px;
    border-top: 1px solid #d1d1d1;
    padding-bottom: .7em;
}

.tag-post-card {
    flex-basis: 25%;
    min-width: 120px;
}

.tag-posts {
    justify-content: flex-start;
}

.zero-out {
    margin: 0;
    padding: 0;
}

.padding-zero {
    padding: 0;
}

.margin-zero {
    margin: 0;
}

.nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.post-feed {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    height: -webkit-fill-available;
}

.post-feed-static {
    display: flex;
    flex-wrap: nowrap;
}

a {
    color: rgb(121, 34, 121);
}

a:hover {
    text-decoration: none;
    color: rgb(107, 8, 107);
}

.other-posts {
    margin: 0 2em;
    width: 75%;
}

.other-post {
    display: flex;
    padding-bottom: .6em;
    border-top: 1px solid #d1d1d1;
}

.other-post-content {
    width: 70%;
    padding: .7em;
}

.outer {
    padding: 0;
}

@media (min-width: 900px) {
.author-template .post-feed, .home-template .post-feed, .tag-template .post-feed {
    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
}

.section-title {
    border-bottom: 3px solid rgb(168, 75, 168);
    margin: .5em 0em 1em 0em;
    max-width: 250px;
    padding-bottom: .25em;
}

.post-featured {
    flex-direction: column;
}

@media (min-width: 795px) {
.post-card-large .post-card-content {
    flex: none;
    justify-content: start; 
}
}

@media (min-width 825px) {
    /* change to mobile layout */
}

time {
    font-size: 70%;
}

.other-post-tag {
    color: silver;
}

.author-name {
    font-size: .85em;
}

.oncampus-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}